@import url('https://fonts.googleapis.com/css?family=Heebo:300');
@import url('https://fonts.googleapis.com/css?family=Heebo:500');

@import url('https://fonts.googleapis.com/css?family=Cormorant:600|Ramaraja');

 @font-face {
     font-family: B;
     src: url('../../fonts/BeirutDisplayTrial-Black.otf');
}
 @font-face {
     font-family: GZA;
     src: url('../../fonts/GzaTrial-Bold.otf');
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
    box-sizing: border-box;
}
a {
  text-decoration-color: #c12c00;
  cursor: pointer;
}
html {
  padding:0;
  margin: 0;
  color: white;
  background-color: #fdb813;
  background-image: url('../../img/side-title.png');
  display: flex;
  justify-content: center;
  background-repeat-x: no-repeat;
  background-repeat: repeat-y;
  z-index: 99;
}
body {
    height: 100%;
    width: 100%;
    z-index: -1;
}
header {
    font-family: 'B', sans-serif;
    text-align: center;
    margin: 3em 3em 0 3em;
}
header h2 {
    color: transparent;
    -webkit-text-stroke: 1px #943b0a;
    font-size: 32px;
}
header img {
    width: 70vw;
    margin-top: 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.view {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin: auto;
    width: 70vw;

}
.view li {
    font-family: 'GZA', sans-serif;
    width: 56%;
    justify-content: center;
    list-style: none;
    align-self: center;
    color: #943b0a;
    font-size: 1.4em;
    line-height: 3em;
}
.bottom-links {
    position:relative;
    text-align:center;
    font-size:.8em;
    padding: 23px 0;
    margin-top: 3em;
  }
.bottom-links li{
    display: flex;
    justify-content: center;
    text-align: center;
}
.bottom-links img {
    max-width: 24px;
    max-height: 24px;
    margin: 0 1em 0 1em;
}
audio {
  opacity: .3;
  margin-top: 5px;
  float: right !important;
  display:flex;
  justify-content: flex-start;
  float: center !important;
  outline: none;
  text-align: left;
}

@media only screen and (max-width: 850px) {
    html {
        background-size: 50px;
    }
    header h2 {
        font-size: 24px;
        margin: 10px 1em 0 1em;
    }
    header img {
        /* margin: 3em 1em 0 1em; */
        margin: -10px 1em 0 1em;
    }
    audio {
        width: 70vw;
    }

}
@media only screen and (max-width: 500px) {
    .title {
        font-size: 32px;
        cursor: pointer;
    }
    html {
        background-size: 30px;
    }
    .videoContainer__video {
        margin: 0 !important;
        width: 100vw !important;
        height: 100vh !important;
        max-width: 100vw !important;
        min-width: 100vw !important;
    
    }
    iframe {
        max-width: 280px !important;
        display: flex !important;
        justify-content: center !important;
        margin: 2em 2em 2em 3em !important;
    }
}
@media only screen and (min-width: 1300px) {
    header img{
        width: 60vw;
    }
}
@media only screen and (max-width: 1370px) {
    .view {
        display: flex;
        justify-content: center; 
        flex-direction: column;
        text-align: center;
    }
    .view li {
      width: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
}
.break {
    display: flex;
    justify-content: left;
    color: #943b0a;
    font-family: 'Ramaraja', sans-serif;
    font-size: 18px;
    /* line-height: 15px; */
    text-align: left;
    /* margin: 2em; */
    margin-left: 20vw;
}
.title{
    font-family: 'B', sans-serif;
    text-align: left;
    font-size: 36px;
    color: transparent;
    -webkit-text-stroke: 1px  #943b0a;
    cursor: pointer;
    left: 10;
    margin-left: 20vw;
}
.player {
    display: flex;
    justify-content: center;
    margin: 0;
}
iframe {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 0;
    width: 100%;
    height: 100%;

}

#infolayer .art {
    display: none !important;
}
.smallartwork #infolayer .info {
    left: 12px !important;
}
.smallartwork #big_play_button, .noartwork #big_play_button {
    right: -70px !important;
}

.videoContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  /* optional */
  width: 100%;
  height: 100%; 
}